* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Kumbh Sans", sans-serif;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 100vh;
	background-image: linear-gradient(
		0deg,
		hsl(240deg 73% 65%) 0%,
		hsl(248deg 74% 65%) 25%,
		hsl(257deg 74% 65%) 50%,
		hsl(265deg 75% 66%) 75%,
		hsl(273deg 75% 66%) 100%
	);
}
.leftside {
	background-image: url(images/bg-pattern-desktop.svg);
	background-size: contain;
	width: 400px;
	height: 300px;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
}
.rightcontent p {
	display: none;
}
.container {
	background-color: hsl(240, 5%, 91%);
	background-size: 60% 100%;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 900px;
	height: 800px;
}
